<a href="https://colab.research.google.com/github/naga-dheeraj-p/Assignments/blob/main/options_mine_done.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [34]:
'''import glob
import csv
import os
import time

start = time.time()

path = "/content/gdrive/MyDrive/bank_nifty data/csv"
all_files = glob.glob(os.path.join(path, "*.csv"))
cols = ['time', 'symbol', 'open', 'high', 'low', 'close', 'volume', 'oi', 'expiry', 'strike', 'instrument_type', 'Date']

output_file = 'dataset.csv'
with open(output_file, 'w', newline='') as out:
    writer = csv.writer(out)
    writer.writerow(cols)

for file in all_files:
    date = os.path.basename(file).split('.')[0]
    year = int(date[-6:])
    if year == 122018:
        with open(file, 'r') as f, open(output_file, 'a', newline='') as out:
            reader = csv.reader(f)
            writer = csv.writer(out)
            next(reader)  # Skip the header row
            for row in reader:
                row.append(date)
                writer.writerow(row)

end = time.time()
print("Execution time:", end - start)
'''

Execution time: 3.2649548053741455

In [63]:
import glob
import csv
import os
import time

start = time.time()

path = "/content/gdrive/MyDrive/bank_nifty data/csv"
output_file = 'dataset.csv'
cols = ['time', 'symbol', 'open', 'high', 'low', 'close', 'volume', 'oi', 'expiry', 'strike', 'instrument_type', 'Date']

# List of file endings to consider
file_endings = ['012018', '022018', '032018']

with open(output_file, 'w', newline='') as out:
    writer = csv.writer(out)
    writer.writerow(cols)

# Iterate through files with specified endings
for ending in file_endings:
    all_files = glob.glob(os.path.join(path, f"*{ending}.csv"))
    for file in all_files:
        date = os.path.basename(file).split('.')[0]
        with open(file, 'r') as f, open(output_file, 'a', newline='') as out:
            reader = csv.reader(f)
            writer = csv.writer(out)
            next(reader)  # Skip the header row
            for row in reader:
                row.append(date)
                writer.writerow(row)

end = time.time()
print("Execution time:", end - start)

Execution time: 9.426231145858765

In [64]:
import pandas as pd
data=pd.read_csv("/content/dataset.csv")
print(data.shape)
data.tail()

(1611447, 12)

,time,symbol,open,high,low,close,volume,oi,expiry,strike,instrument_type,Date
1611442,10:29:00,BANKNIFTY31MAY1825000CE,270.0,270.0,270.0,270.0,40,360,31-05-2018,25000,CE,23032018
1611443,11:31:00,BANKNIFTY31MAY1825000CE,270.0,270.0,240.1,240.1,40,360,31-05-2018,25000,CE,23032018
1611444,12:25:00,BANKNIFTY31MAY1825000CE,240.1,272.9,240.1,272.9,40,360,31-05-2018,25000,CE,23032018
1611445,13:41:00,BANKNIFTY31MAY1825000CE,273.0,273.0,273.0,273.0,40,400,31-05-2018,25000,CE,23032018
1611446,13:58:00,BANKNIFTY31MAY1825000CE,273.0,273.0,260.0,260.0,40,440,31-05-2018,25000,CE,23032018

In [65]:
import pandas as pd
def preprocess_date(date_string):
    date_str = str(date_string)
    if len(date_str) == 8:
        # If the date string is in the format 'DDMMYYYY', convert it to 'DD-MM-YYYY'
        return date_str[:2] + '-' + date_str[2:4] + '-' + date_str[4:]
    else:
        date_str = '0' + date_str
        return date_str[:2] + '-' + date_str[2:4] + '-' + date_str[4:]
data['Preprocessed_Date'] = data['Date'].apply(preprocess_date)

In [66]:
sorted_data = data.sort_values(by=['Preprocessed_Date', 'instrument_type', 'strike', 'time']).reset_index(drop=True)
sorted_data.head(60)

,time,symbol,open,high,low,close,volume,oi,expiry,strike,instrument_type,Date,Preprocessed_Date
0,13:32:00,BANKNIFTY25JAN1823200CE,2333.00,2333.00,2333.00,2333.00,40,100760,25-01-2018,23200,CE,1012018,01-01-2018
1,13:36:00,BANKNIFTY25JAN1823200CE,2333.00,2336.00,2333.00,2336.00,40,100800,25-01-2018,23200,CE,1012018,01-01-2018
2,14:52:00,BANKNIFTY25JAN1823200CE,2336.00,2336.00,2292.95,2292.95,40,100760,25-01-2018,23200,CE,1012018,01-01-2018
3,15:19:00,BANKNIFTY25JAN1823200CE,2292.95,2292.95,2215.00,2215.00,40,100760,25-01-2018,23200,CE,1012018,01-01-2018
4,09:27:00,BANKNIFTY25JAN1823500CE,2074.45,2074.45,2074.45,2074.45,40,25880,25-01-2018,23500,CE,1012018,01-01-2018
5,12:11:00,BANKNIFTY25JAN1823500CE,2074.45,2074.45,2058.00,2058.00,40,25920,25-01-2018,23500,CE,1012018,01-01-2018
6,13:03:00,BANKNIFTY25JAN1823500CE,2058.00,2058.00,2048.25,2048.25,40,25960,25-01-2018,23500,CE,1012018,01-01-2018
7,14:52:00,BANKNIFTY25JAN1823500CE,2048.25,2048.25,2003.35,2003.35,80,26000,25-01-2018,23500,CE,1012018,01-01-2018
8,09:49:00,BANKNIFTY25JAN1824000CE,1585.00,1585.00,1585.00,1585.00,40,23640,25-01-2018,24000,CE,1012018,01-01-2018
9,11:26:00,BANKNIFTY25JAN1824000CE,1597.00,1597.00,1597.00,1597.00,40,23680,25-01-2018,24000,CE,1012018,01-01-2018
10,12:27:00,BANKNIFTY25JAN1824000CE,1597.00,1597.00,1582.00,1582.00,40,23640,25-01-2018,24000,CE,1012018,01-01-2018
11,13:12:00,BANKNIFTY25JAN1824000CE,1573.65,1573.65,1573.65,1573.65,80,23600,25-01-2018,24000,CE,1012018,01-01-2018
12,14:58:00,BANKNIFTY25JAN1824000CE,1573.65,1573.65,1531.00,1531.00,40,23680,25-01-2018,24000,CE,1012018,01-01-2018
13,15:02:00,BANKNIFTY25JAN1824000CE,1531.00,1531.00,1485.05,1485.05,40,23640,25-01-2018,24000,CE,1012018,01-01-2018
14,15:03:00,BANKNIFTY25JAN1824000CE,1485.05,1485.05,1479.90,1479.90,40,23640,25-01-2018,24000,CE,1012018,01-01-2018
15,09:20:00,BANKNIFTY25JAN1824500CE,1140.00,1140.00,1140.00,1140.00,40,186160,25-01-2018,24500,CE,1012018,01-01-2018
16,09:28:00,BANKNIFTY25JAN1824500CE,1140.00,1140.00,1132.60,1132.60,40,186200,25-01-2018,24500,CE,1012018,01-01-2018
17,09:52:00,BANKNIFTY25JAN1824500CE,1128.85,1132.60,1128.85,1128.85,360,186200,25-01-2018,24500,CE,1012018,01-01-2018
18,10:20:00,BANKNIFTY25JAN1824500CE,1131.20,1131.20,1131.20,1131.20,40,186200,25-01-2018,24500,CE,1012018,01-01-2018
19,10:25:00,BANKNIFTY25JAN1824500CE,1127.65,1127.65,1126.55,1127.65,40,186200,25-01-2018,24500,CE,1012018,01-01-2018
20,10:26:00,BANKNIFTY25JAN1824500CE,1126.55,1126.55,1126.55,1126.55,160,186200,25-01-2018,24500,CE,1012018,01-01-2018
21,10:37:00,BANKNIFTY25JAN1824500CE,1130.15,1130.15,1130.15,1130.15,40,186200,25-01-2018,24500,CE,1012018,01-01-2018
22,10:38:00,BANKNIFTY25JAN1824500CE,1130.15,1130.15,1130.15,1130.15,80,186200,25-01-2018,24500,CE,1012018,01-01-2018
23,10:41:00,BANKNIFTY25JAN1824500CE,1130.15,1130.15,1124.10,1124.10,80,186200,25-01-2018,24500,CE,1012018,01-01-2018
24,10:51:00,BANKNIFTY25JAN1824500CE,1124.10,1127.15,1124.10,1127.15,80,186200,25-01-2018,24500,CE,1012018,01-01-2018
25,11:25:00,BANKNIFTY22FEB1824500CE,1296.00,1296.00,1296.00,1296.00,40,0,22-02-2018,24500,CE,1012018,01-01-2018
26,11:26:00,BANKNIFTY25JAN1824500CE,1127.15,1137.00,1127.15,1137.00,40,186200,25-01-2018,24500,CE,1012018,01-01-2018
27,11:30:00,BANKNIFTY25JAN1824500CE,1133.00,1133.00,1133.00,1133.00,40,186160,25-01-2018,24500,CE,1012018,01-01-2018
28,11:34:00,BANKNIFTY25JAN1824500CE,1133.00,1139.90,1133.00,1139.90,160,186120,25-01-2018,24500,CE,1012018,01-01-2018
29,12:00:00,BANKNIFTY25JAN1824500CE,1139.90,1139.90,1123.00,1123.00,80,186040,25-01-2018,24500,CE,1012018,01-01-2018
30,12:01:00,BANKNIFTY25JAN1824500CE,1123.00,1125.00,1123.00,1125.00,40,186040,25-01-2018,24500,CE,1012018,01-01-2018
31,12:27:00,BANKNIFTY22FEB1824500CE,1290.00,1296.00,1290.00,1290.00,40,40,22-02-2018,24500,CE,1012018,01-01-2018
32,12:28:00,BANKNIFTY25JAN1824500CE,1125.00,1125.00,1120.00,1120.00,40,185920,25-01-2018,24500,CE,1012018,01-01-2018
33,14:14:00,BANKNIFTY04JAN1824500CE,1019.90,1019.90,1019.90,1019.90,40,1200,04-01-2018,24500,CE,1012018,01-01-2018
34,14:15:00,BANKNIFTY04JAN1824500CE,1019.90,1025.00,1019.90,1025.00,40,1240,04-01-2018,24500,CE,1012018,01-01-2018
35,14:23:00,BANKNIFTY25JAN1824500CE,1120.00,1125.00,1120.00,1125.00,40,185880,25-01-2018,24500,CE,1012018,01-01-2018
36,14:24:00,BANKNIFTY04JAN1824500CE,1025.00,1025.00,1022.00,1022.00,40,1280,04-01-2018,24500,CE,1012018,01-01-2018
37,14:31:00,BANKNIFTY25JAN1824500CE,1125.00,1125.00,1119.75,1119.75,240,185920,25-01-2018,24500,CE,1012018,01-01-2018
38,14:35:00,BANKNIFTY25JAN1824500CE,1119.75,1119.75,1119.10,1119.10,160,185920,25-01-2018,24500,CE,1012018,01-01-2018
39,14:52:00,BANKNIFTY25JAN1824500CE,1119.10,1119.10,1079.85,1079.85,40,185920,25-01-2018,24500,CE,1012018,01-01-2018
40,14:57:00,BANKNIFTY25JAN1824500CE,1079.85,1080.00,1079.85,1080.00,40,185920,25-01-2018,24500,CE,1012018,01-01-2018
41,14:58:00,BANKNIFTY04JAN1824500CE,1022.00,1022.00,949.55,949.55,40,1320,04-01-2018,24500,CE,1012018,01-01-2018
42,14:58:00,BANKNIFTY25JAN1824500CE,1080.00,1080.05,1066.00,1080.05,80,185920,25-01-2018,24500,CE,1012018,01-01-2018
43,15:01:00,BANKNIFTY25JAN1824500CE,1080.05,1080.05,1044.75,1044.75,40,185920,25-01-2018,24500,CE,1012018,01-01-2018
44,15:07:00,BANKNIFTY25JAN1824500CE,1044.75,1044.75,1000.00,1000.00,40,185880,25-01-2018,24500,CE,1012018,01-01-2018
45,15:11:00,BANKNIFTY25JAN1824500CE,1000.00,1030.00,1000.00,1030.00,40,185840,25-01-2018,24500,CE,1012018,01-01-2018
46,15:13:00,BANKNIFTY25JAN1824500CE,1030.00,1030.00,1015.60,1015.60,40,185840,25-01-2018,24500,CE,1012018,01-01-2018
47,15:14:00,BANKNIFTY04JAN1824500CE,888.40,889.00,887.30,888.20,200,1320,04-01-2018,24500,CE,1012018,01-01-2018
48,15:19:00,BANKNIFTY25JAN1824500CE,1015.60,1015.60,1010.00,1010.00,40,185840,25-01-2018,24500,CE,1012018,01-01-2018
49,15:22:00,BANKNIFTY04JAN1824500CE,888.20,888.20,874.85,874.85,40,1320,04-01-2018,24500,CE,1012018,01-01-2018
50,15:25:00,BANKNIFTY25JAN1824500CE,1010.00,1010.00,988.55,988.55,80,185840,25-01-2018,24500,CE,1012018,01-01-2018
51,15:29:00,BANKNIFTY25JAN1824500CE,988.55,988.55,985.00,985.00,40,185840,25-01-2018,24500,CE,1012018,01-01-2018
52,10:24:00,BANKNIFTY04JAN1824600CE,977.40,977.40,977.40,977.40,40,0,04-01-2018,24600,CE,1012018,01-01-2018
53,15:03:00,BANKNIFTY04JAN1824600CE,977.40,977.40,756.80,756.80,40,40,04-01-2018,24600,CE,1012018,01-01-2018
54,09:17:00,BANKNIFTY25JAN1825000CE,702.00,702.00,702.00,702.00,40,226040,25-01-2018,25000,CE,1012018,01-01-2018
55,09:18:00,BANKNIFTY25JAN1825000CE,702.00,702.05,699.05,699.05,160,226040,25-01-2018,25000,CE,1012018,01-01-2018
56,09:19:00,BANKNIFTY25JAN1825000CE,699.05,707.40,699.05,707.40,120,226040,25-01-2018,25000,CE,1012018,01-01-2018
57,09:20:00,BANKNIFTY04JAN1825000CE,539.00,551.00,539.00,549.25,160,8560,04-01-2018,25000,CE,1012018,01-01-2018
58,09:20:00,BANKNIFTY25JAN1825000CE,707.40,730.15,707.40,722.45,280,226040,25-01-2018,25000,CE,1012018,01-01-2018
59,09:21:00,BANKNIFTY25JAN1825000CE,722.45,724.15,721.75,721.75,160,226040,25-01-2018,25000,CE,1012018,01-01-2018

In [67]:
import pandas as pd
import numpy as np

data = sorted_data.copy()  # Made a copy to avoid modifying original data
data['time'] = pd.to_datetime(data['time'])

time_range = pd.date_range(start='09:15:00', end='15:30:00', freq='5T')
expanded_data = pd.DataFrame()

grouped_data = data.groupby(['Preprocessed_Date', 'instrument_type'])


for (Preprocessed_Date, instrument_type), subset in grouped_data:
    # Group the subset by strike and resample each group to 5-minute intervals
    resampled_subset = subset.set_index('time').groupby('strike').resample('5T').agg({
        'open': 'first',
        'high': 'max',
        'low': 'min',
        'close': 'last',
        'volume': 'sum',
        'oi': 'last'
    }).reset_index(level='strike')

    # Forward filling
    resampled_subset[['high', 'low']] = resampled_subset[['high', 'low']].ffill()
    # Interpolating
    resampled_subset[['volume', 'oi']] = resampled_subset[['volume', 'oi']].replace(0, np.nan)
    resampled_subset[['volume', 'oi']] = resampled_subset[['volume', 'oi']].interpolate(method='linear')
    resampled_subset[['volume', 'oi']] = resampled_subset[['volume', 'oi']].fillna(0).round(2)
    resampled_subset[['open', 'close']] = resampled_subset[['open', 'close']].interpolate(method='linear').round(2)

    resampled_subset.reset_index(inplace=True)

    for col in ['symbol', 'expiry']:
        resampled_subset[col] = subset[col].iloc[0]

    resampled_subset['Preprocessed_Date'] = Preprocessed_Date
    resampled_subset['instrument_type'] = instrument_type
    expanded_data = pd.concat([expanded_data, resampled_subset], ignore_index=True)

expanded_data.sort_values(by=['Preprocessed_Date', 'instrument_type', 'strike', 'time'], inplace=True)
expanded_data.reset_index(drop=True, inplace=True)
expanded_data['time'] = pd.to_datetime(expanded_data['time']).dt.time

<ipython-input-67-54d6af9e359d>:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['time'] = pd.to_datetime(data['time'])

In [68]:
expanded_data

,time,strike,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type
0,13:30:00,23200,2333.00,2333.0,2333.00,2333.00,40.00,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE
1,13:35:00,23200,2333.00,2336.0,2333.00,2336.00,40.00,100800.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE
2,13:40:00,23200,2333.20,2336.0,2333.00,2333.13,40.00,100797.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE
3,13:45:00,23200,2333.40,2336.0,2333.00,2330.26,40.00,100794.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE
4,13:50:00,23200,2333.60,2336.0,2333.00,2327.39,40.00,100792.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE
...,...,...,...,...,...,...,...,...,...,...,...,...
333010,15:05:00,29000,1493.61,1500.3,1488.60,1522.94,62.86,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE
333011,15:10:00,29000,1491.94,1500.3,1488.60,1531.53,68.57,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE
333012,15:15:00,29000,1490.27,1500.3,1488.60,1540.11,74.29,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE
333013,15:20:00,29000,1488.60,1548.7,1488.60,1548.70,80.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE
333014,15:25:00,29000,1548.70,1548.7,1539.75,1539.75,40.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE

In [69]:
import pandas as pd
import os
from datetime import datetime

directory_path = '/content/gdrive/MyDrive/Fut_data'
data_list = []

for filename in os.listdir(directory_path):
    if filename.endswith('.csv'):
        try:
            date_str = filename.split('.')[0]  # Assuming the filename is like 'DDMMYYYY.csv'
            date_obj = datetime.strptime(date_str, '%d%m%Y')
            formatted_date = date_obj.strftime('%d-%m-%Y')
        except ValueError:
            print(f'{filename}: Filename does not match expected date format')
            continue
        if date_obj.year==2018:                                                                                   #change here!!!!!!!!!!!!!!!!!!!!!!!!
        #if date_obj.year==2018 and date_obj.month==12:
            file_path = os.path.join(directory_path, filename)
            df = pd.read_csv(file_path)

            # Considering ATM value from the first row
            if 'open' in df.columns:
                atm_value = df['open'].iloc[0]
                # Appending the formatted date and the ATM value to the data list
                data_list.append((formatted_date, atm_value))
            else:
                print(f'{formatted_date}: "open" column not found')

data_list.sort(key=lambda x: datetime.strptime(x[0], '%d-%m-%Y'))
for formatted_date, atm_value in data_list:
    print(f'{formatted_date}: ATM = {atm_value}')

01-01-2018: ATM = 25570.0
02-01-2018: ATM = 25490.0
03-01-2018: ATM = 25440.0
04-01-2018: ATM = 25394.75
05-01-2018: ATM = 25534.0
08-01-2018: ATM = 25699.85
09-01-2018: ATM = 25750.0
10-01-2018: ATM = 25696.2
11-01-2018: ATM = 25602.4
12-01-2018: ATM = 25710.0
15-01-2018: ATM = 25774.75
16-01-2018: ATM = 26121.0
17-01-2018: ATM = 25989.95
18-01-2018: ATM = 26610.25
19-01-2018: ATM = 26551.05
22-01-2018: ATM = 26889.9
23-01-2018: ATM = 27044.4
24-01-2018: ATM = 27310.05
25-01-2018: ATM = 27474.65
29-01-2018: ATM = 27382.0
30-01-2018: ATM = 27451.05
31-01-2018: ATM = 27222.0
01-02-2018: ATM = 27430.35
02-02-2018: ATM = 26994.95
05-02-2018: ATM = 26094.95
06-02-2018: ATM = 25201.1
07-02-2018: ATM = 26111.35
08-02-2018: ATM = 25741.0
09-02-2018: ATM = 25510.15
12-02-2018: ATM = 25602.5
14-02-2018: ATM = 25760.0
15-02-2018: ATM = 25325.0
16-02-2018: ATM = 25475.1
19-02-2018: ATM = 25300.05
20-02-2018: ATM = 25061.1
21-02-2018: ATM = 24980.0
22-02-2018: ATM = 24785.0
23-02-2018: ATM = 25002.0
26-02-2018: ATM = 25530.0
27-02-2018: ATM = 25700.0
28-02-2018: ATM = 24600.0
01-03-2018: ATM = 25069.4
05-03-2018: ATM = 24749.65
06-03-2018: ATM = 24990.0
07-03-2018: ATM = 24370.0
08-03-2018: ATM = 24364.0
09-03-2018: ATM = 24549.8
12-03-2018: ATM = 24505.65
13-03-2018: ATM = 24710.0
14-03-2018: ATM = 24690.0
15-03-2018: ATM = 24922.05
16-03-2018: ATM = 24750.85
19-03-2018: ATM = 24630.0
20-03-2018: ATM = 24210.0
21-03-2018: ATM = 24375.05
22-03-2018: ATM = 24352.35
23-03-2018: ATM = 23832.0
26-03-2018: ATM = 23670.0
27-03-2018: ATM = 24424.0
28-03-2018: ATM = 24300.0
02-04-2018: ATM = 24355.5
03-04-2018: ATM = 24380.0
04-04-2018: ATM = 24621.75
05-04-2018: ATM = 24422.0
06-04-2018: ATM = 24820.1
09-04-2018: ATM = 24860.0
10-04-2018: ATM = 25149.0
11-04-2018: ATM = 25201.2
12-04-2018: ATM = 25099.65
13-04-2018: ATM = 25249.65
16-04-2018: ATM = 25098.6
17-04-2018: ATM = 25385.05
18-04-2018: ATM = 25410.1
19-04-2018: ATM = 25199.9
20-04-2018: ATM = 25111.05
23-04-2018: ATM = 25135.0
24-04-2018: ATM = 24963.0
25-04-2018: ATM = 24949.8
26-04-2018: ATM = 24801.05
27-04-2018: ATM = 25040.65
30-04-2018: ATM = 25401.0
02-05-2018: ATM = 25675.0
03-05-2018: ATM = 25611.05
04-05-2018: ATM = 25679.25
07-05-2018: ATM = 25760.0
08-05-2018: ATM = 26035.0
09-05-2018: ATM = 25967.85
10-05-2018: ATM = 26133.05
11-05-2018: ATM = 26115.0
14-05-2018: ATM = 26411.95
15-05-2018: ATM = 26470.0
16-05-2018: ATM = 26319.4
17-05-2018: ATM = 26260.0
18-05-2018: ATM = 26033.35
21-05-2018: ATM = 25952.1
22-05-2018: ATM = 25775.9
23-05-2018: ATM = 25770.0
24-05-2018: ATM = 25640.0
25-05-2018: ATM = 25968.95
28-05-2018: ATM = 26240.0
29-05-2018: ATM = 26490.05
30-05-2018: ATM = 25981.55
31-05-2018: ATM = 26510.15
01-06-2018: ATM = 26726.0
04-06-2018: ATM = 26890.0
05-06-2018: ATM = 26140.0
06-06-2018: ATM = 26277.95
07-06-2018: ATM = 26563.0
08-06-2018: ATM = 26481.05
11-06-2018: ATM = 26449.95
12-06-2018: ATM = 26575.55
13-06-2018: ATM = 26700.05
14-06-2018: ATM = 26600.0
15-06-2018: ATM = 26545.0
18-06-2018: ATM = 26339.95
19-06-2018: ATM = 26349.95
20-06-2018: ATM = 26286.4
21-06-2018: ATM = 26677.9
22-06-2018: ATM = 26470.0
25-06-2018: ATM = 26110.8
26-06-2018: ATM = 26511.1
27-06-2018: ATM = 26593.35
28-06-2018: ATM = 26417.6
29-06-2018: ATM = 26255.6
02-07-2018: ATM = 26349.95
03-07-2018: ATM = 26181.0
04-07-2018: ATM = 26244.95
05-07-2018: ATM = 26436.55
06-07-2018: ATM = 26427.85
09-07-2018: ATM = 26620.0
10-07-2018: ATM = 26775.05
11-07-2018: ATM = 26870.0
12-07-2018: ATM = 26879.95
13-07-2018: ATM = 27039.95
16-07-2018: ATM = 26912.7
17-07-2018: ATM = 26689.95
18-07-2018: ATM = 27149.95
19-07-2018: ATM = 26967.95
20-07-2018: ATM = 26825.05
23-07-2018: ATM = 26805.15
24-07-2018: ATM = 27053.05
25-07-2018: ATM = 27077.7
26-07-2018: ATM = 27090.0
27-07-2018: ATM = 27503.3
30-07-2018: ATM = 27724.8
31-07-2018: ATM = 27814.85
01-08-2018: ATM = 27778.7
02-08-2018: ATM = 27510.15
03-08-2018: ATM = 27510.0
06-08-2018: ATM = 27825.6
07-08-2018: ATM = 27979.0
08-08-2018: ATM = 27975.0
09-08-2018: ATM = 28224.85
10-08-2018: ATM = 28342.95
13-08-2018: ATM = 27890.0
14-08-2018: ATM = 27905.0
16-08-2018: ATM = 27889.55
17-08-2018: ATM = 28011.35
20-08-2018: ATM = 28290.0
21-08-2018: ATM = 28340.2
23-08-2018: ATM = 28336.4
24-08-2018: ATM = 28010.4
27-08-2018: ATM = 28034.75
28-08-2018: ATM = 28360.55
29-08-2018: ATM = 28249.95
30-08-2018: ATM = 28233.3
31-08-2018: ATM = 28160.0
03-09-2018: ATM = 28285.15
04-09-2018: ATM = 27969.0
05-09-2018: ATM = 27594.95
06-09-2018: ATM = 27555.05
07-09-2018: ATM = 27560.05
10-09-2018: ATM = 27485.0
11-09-2018: ATM = 27365.55
12-09-2018: ATM = 26980.05
14-09-2018: ATM = 27202.0
17-09-2018: ATM = 27049.75
18-09-2018: ATM = 26819.9
19-09-2018: ATM = 26585.05
21-09-2018: ATM = 26442.95
24-09-2018: ATM = 25749.9
25-09-2018: ATM = 24952.4
26-09-2018: ATM = 25619.95
27-09-2018: ATM = 25155.55
28-09-2018: ATM = 25325.2
01-10-2018: ATM = 25085.0
03-10-2018: ATM = 25400.0
04-10-2018: ATM = 24780.0
05-10-2018: ATM = 24700.0
08-10-2018: ATM = 24444.7
09-10-2018: ATM = 24762.4
10-10-2018: ATM = 24609.95
11-10-2018: ATM = 24600.35
12-10-2018: ATM = 25037.0
15-10-2018: ATM = 25399.0
16-10-2018: ATM = 25356.25
17-10-2018: ATM = 25875.0
19-10-2018: ATM = 24960.25
22-10-2018: ATM = 25475.0
23-10-2018: ATM = 24799.8
24-10-2018: ATM = 25350.05
25-10-2018: ATM = 24860.0
26-10-2018: ATM = 24875.0
29-10-2018: ATM = 24683.65
30-10-2018: ATM = 25050.35
31-10-2018: ATM = 24874.95
01-11-2018: ATM = 25249.95
02-11-2018: ATM = 25548.0
05-11-2018: ATM = 25700.2
06-11-2018: ATM = 25824.7
07-11-2018: ATM = 25880.0
09-11-2018: ATM = 25730.0
12-11-2018: ATM = 25850.25
13-11-2018: ATM = 25479.95
14-11-2018: ATM = 25984.5
15-11-2018: ATM = 25960.0
16-11-2018: ATM = 26202.15
19-11-2018: ATM = 26355.1
20-11-2018: ATM = 26240.0
21-11-2018: ATM = 26050.0
22-11-2018: ATM = 26310.1
26-11-2018: ATM = 26075.0
27-11-2018: ATM = 26300.2
28-11-2018: ATM = 26467.8
29-11-2018: ATM = 26602.05
30-11-2018: ATM = 26957.45
03-12-2018: ATM = 27055.5
04-12-2018: ATM = 26903.0
05-12-2018: ATM = 26670.0
06-12-2018: ATM = 26485.5
07-12-2018: ATM = 26380.0
10-12-2018: ATM = 26251.25
11-12-2018: ATM = 25800.0
12-12-2018: ATM = 26349.85
13-12-2018: ATM = 26867.65
14-12-2018: ATM = 26853.0
17-12-2018: ATM = 26988.8
18-12-2018: ATM = 26950.0
19-12-2018: ATM = 27301.0
20-12-2018: ATM = 27189.4
21-12-2018: ATM = 27300.0
24-12-2018: ATM = 26925.0
26-12-2018: ATM = 26700.0
27-12-2018: ATM = 27198.0
28-12-2018: ATM = 27275.0
31-12-2018: ATM = 27400.0

In [70]:
data_list.sort(key=lambda x: datetime.strptime(x[0], '%d-%m-%Y'))
atm_dict = dict(data_list)
# Function to map preprocessed date to ATM value
def get_atm(date):
    return atm_dict.get(date, None)

# Adding a new column 'ATM' using the mapping function
expanded_data['atm'] = expanded_data['Preprocessed_Date'].apply(get_atm)
expanded_data

,time,strike,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type,atm
0,13:30:00,23200,2333.00,2333.0,2333.00,2333.00,40.00,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
1,13:35:00,23200,2333.00,2336.0,2333.00,2336.00,40.00,100800.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
2,13:40:00,23200,2333.20,2336.0,2333.00,2333.13,40.00,100797.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
3,13:45:00,23200,2333.40,2336.0,2333.00,2330.26,40.00,100794.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
4,13:50:00,23200,2333.60,2336.0,2333.00,2327.39,40.00,100792.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
333010,15:05:00,29000,1493.61,1500.3,1488.60,1522.94,62.86,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0
333011,15:10:00,29000,1491.94,1500.3,1488.60,1531.53,68.57,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0
333012,15:15:00,29000,1490.27,1500.3,1488.60,1540.11,74.29,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0
333013,15:20:00,29000,1488.60,1548.7,1488.60,1548.70,80.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0
333014,15:25:00,29000,1548.70,1548.7,1539.75,1539.75,40.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0

In [71]:
df = pd.DataFrame(expanded_data)

# Ensure 'time' column is in string format
df['time'] = df['time'].astype(str)

# Combine 'Preprocessed_Date' and 'time' into a single datetime column
df['datetime'] = pd.to_datetime(df['Preprocessed_Date'] + ' ' + df['time'], format='%d-%m-%Y %H:%M:%S')

# Drop the original 'Preprocessed_Date' and 'time' columns if desired
#df.drop(columns=['Preprocessed_Date', 'time'], inplace=True)
cols = ['datetime'] + [col for col in df if col != 'datetime']
df = df[cols]

In [72]:
df.head(60)

,datetime,time,strike,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type,atm
0,2018-01-01 13:30:00,13:30:00,23200,2333.00,2333.00,2333.00,2333.00,40.0,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
1,2018-01-01 13:35:00,13:35:00,23200,2333.00,2336.00,2333.00,2336.00,40.0,100800.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
2,2018-01-01 13:40:00,13:40:00,23200,2333.20,2336.00,2333.00,2333.13,40.0,100797.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
3,2018-01-01 13:45:00,13:45:00,23200,2333.40,2336.00,2333.00,2330.26,40.0,100794.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
4,2018-01-01 13:50:00,13:50:00,23200,2333.60,2336.00,2333.00,2327.39,40.0,100792.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
5,2018-01-01 13:55:00,13:55:00,23200,2333.80,2336.00,2333.00,2324.52,40.0,100789.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
6,2018-01-01 14:00:00,14:00:00,23200,2334.00,2336.00,2333.00,2321.65,40.0,100786.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
7,2018-01-01 14:05:00,14:05:00,23200,2334.20,2336.00,2333.00,2318.78,40.0,100784.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
8,2018-01-01 14:10:00,14:10:00,23200,2334.40,2336.00,2333.00,2315.91,40.0,100781.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
9,2018-01-01 14:15:00,14:15:00,23200,2334.60,2336.00,2333.00,2313.04,40.0,100778.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
10,2018-01-01 14:20:00,14:20:00,23200,2334.80,2336.00,2333.00,2310.17,40.0,100776.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
11,2018-01-01 14:25:00,14:25:00,23200,2335.00,2336.00,2333.00,2307.30,40.0,100773.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
12,2018-01-01 14:30:00,14:30:00,23200,2335.20,2336.00,2333.00,2304.43,40.0,100770.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
13,2018-01-01 14:35:00,14:35:00,23200,2335.40,2336.00,2333.00,2301.56,40.0,100768.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
14,2018-01-01 14:40:00,14:40:00,23200,2335.60,2336.00,2333.00,2298.69,40.0,100765.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
15,2018-01-01 14:45:00,14:45:00,23200,2335.80,2336.00,2333.00,2295.82,40.0,100762.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
16,2018-01-01 14:50:00,14:50:00,23200,2336.00,2336.00,2292.95,2292.95,40.0,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
17,2018-01-01 14:55:00,14:55:00,23200,2327.39,2336.00,2292.95,2277.36,40.0,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
18,2018-01-01 15:00:00,15:00:00,23200,2318.78,2336.00,2292.95,2261.77,40.0,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
19,2018-01-01 15:05:00,15:05:00,23200,2310.17,2336.00,2292.95,2246.18,40.0,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
20,2018-01-01 15:10:00,15:10:00,23200,2301.56,2336.00,2292.95,2230.59,40.0,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
21,2018-01-01 15:15:00,15:15:00,23200,2292.95,2292.95,2215.00,2215.00,40.0,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
22,2018-01-01 09:25:00,09:25:00,23500,2074.45,2074.45,2074.45,2074.45,40.0,25880.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
23,2018-01-01 09:30:00,09:30:00,23500,2074.45,2074.45,2074.45,2073.95,40.0,25881.21,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
24,2018-01-01 09:35:00,09:35:00,23500,2074.45,2074.45,2074.45,2073.45,40.0,25882.42,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
25,2018-01-01 09:40:00,09:40:00,23500,2074.45,2074.45,2074.45,2072.95,40.0,25883.64,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
26,2018-01-01 09:45:00,09:45:00,23500,2074.45,2074.45,2074.45,2072.46,40.0,25884.85,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
27,2018-01-01 09:50:00,09:50:00,23500,2074.45,2074.45,2074.45,2071.96,40.0,25886.06,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
28,2018-01-01 09:55:00,09:55:00,23500,2074.45,2074.45,2074.45,2071.46,40.0,25887.27,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
29,2018-01-01 10:00:00,10:00:00,23500,2074.45,2074.45,2074.45,2070.96,40.0,25888.48,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
30,2018-01-01 10:05:00,10:05:00,23500,2074.45,2074.45,2074.45,2070.46,40.0,25889.70,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
31,2018-01-01 10:10:00,10:10:00,23500,2074.45,2074.45,2074.45,2069.96,40.0,25890.91,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
32,2018-01-01 10:15:00,10:15:00,23500,2074.45,2074.45,2074.45,2069.47,40.0,25892.12,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
33,2018-01-01 10:20:00,10:20:00,23500,2074.45,2074.45,2074.45,2068.97,40.0,25893.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
34,2018-01-01 10:25:00,10:25:00,23500,2074.45,2074.45,2074.45,2068.47,40.0,25894.55,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
35,2018-01-01 10:30:00,10:30:00,23500,2074.45,2074.45,2074.45,2067.97,40.0,25895.76,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
36,2018-01-01 10:35:00,10:35:00,23500,2074.45,2074.45,2074.45,2067.47,40.0,25896.97,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
37,2018-01-01 10:40:00,10:40:00,23500,2074.45,2074.45,2074.45,2066.97,40.0,25898.18,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
38,2018-01-01 10:45:00,10:45:00,23500,2074.45,2074.45,2074.45,2066.47,40.0,25899.39,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
39,2018-01-01 10:50:00,10:50:00,23500,2074.45,2074.45,2074.45,2065.98,40.0,25900.61,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
40,2018-01-01 10:55:00,10:55:00,23500,2074.45,2074.45,2074.45,2065.48,40.0,25901.82,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
41,2018-01-01 11:00:00,11:00:00,23500,2074.45,2074.45,2074.45,2064.98,40.0,25903.03,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
42,2018-01-01 11:05:00,11:05:00,23500,2074.45,2074.45,2074.45,2064.48,40.0,25904.24,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
43,2018-01-01 11:10:00,11:10:00,23500,2074.45,2074.45,2074.45,2063.98,40.0,25905.45,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
44,2018-01-01 11:15:00,11:15:00,23500,2074.45,2074.45,2074.45,2063.48,40.0,25906.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
45,2018-01-01 11:20:00,11:20:00,23500,2074.45,2074.45,2074.45,2062.98,40.0,25907.88,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
46,2018-01-01 11:25:00,11:25:00,23500,2074.45,2074.45,2074.45,2062.49,40.0,25909.09,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
47,2018-01-01 11:30:00,11:30:00,23500,2074.45,2074.45,2074.45,2061.99,40.0,25910.30,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
48,2018-01-01 11:35:00,11:35:00,23500,2074.45,2074.45,2074.45,2061.49,40.0,25911.52,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
49,2018-01-01 11:40:00,11:40:00,23500,2074.45,2074.45,2074.45,2060.99,40.0,25912.73,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
50,2018-01-01 11:45:00,11:45:00,23500,2074.45,2074.45,2074.45,2060.49,40.0,25913.94,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
51,2018-01-01 11:50:00,11:50:00,23500,2074.45,2074.45,2074.45,2059.99,40.0,25915.15,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
52,2018-01-01 11:55:00,11:55:00,23500,2074.45,2074.45,2074.45,2059.50,40.0,25916.36,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
53,2018-01-01 12:00:00,12:00:00,23500,2074.45,2074.45,2074.45,2059.00,40.0,25917.58,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
54,2018-01-01 12:05:00,12:05:00,23500,2074.45,2074.45,2074.45,2058.50,40.0,25918.79,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
55,2018-01-01 12:10:00,12:10:00,23500,2074.45,2074.45,2058.00,2058.00,40.0,25920.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
56,2018-01-01 12:15:00,12:15:00,23500,2072.80,2074.45,2058.00,2057.02,40.0,25924.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
57,2018-01-01 12:20:00,12:20:00,23500,2071.16,2074.45,2058.00,2056.05,40.0,25928.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
58,2018-01-01 12:25:00,12:25:00,23500,2069.52,2074.45,2058.00,2055.07,40.0,25932.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0
59,2018-01-01 12:30:00,12:30:00,23500,2067.87,2074.45,2058.00,2054.10,40.0,25936.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0

**MAX PAIN**

In [73]:
'''unique_combinations = expanded_data[['Preprocessed_Date', 'time']].drop_duplicates()
results = []

# Iterate over each unique combination
for _, row in unique_combinations.iterrows():
    target_date = row['Preprocessed_Date']
    target_time = row['time']

    # Filter the dataset for the current combination
    filtered_df = expanded_data[(expanded_data['Preprocessed_Date'] == target_date) & (expanded_data['time'] == target_time)]
    oi_sum = filtered_df.groupby('strike')['oi'].sum().reset_index()

    # Identify the strike price with the highest total OI
    max_pain_strike = oi_sum.loc[oi_sum['oi'].idxmax()]
    results.append({
        'Preprocessed_Date': target_date,
        'time': target_time,
        'Max_Pain_Strike': max_pain_strike['strike']
    })
results_df = pd.DataFrame(results)
results_df'''

"unique_combinations = expanded_data[['Preprocessed_Date', 'time']].drop_duplicates()\nresults = []\n\n# Iterate over each unique combination\nfor _, row in unique_combinations.iterrows():\n    target_date = row['Preprocessed_Date']\n    target_time = row['time']\n\n    # Filter the dataset for the current combination\n    filtered_df = expanded_data[(expanded_data['Preprocessed_Date'] == target_date) & (expanded_data['time'] == target_time)]\n    oi_sum = filtered_df.groupby('strike')['oi'].sum().reset_index()\n\n    # Identify the strike price with the highest total OI\n    max_pain_strike = oi_sum.loc[oi_sum['oi'].idxmax()]\n    results.append({\n        'Preprocessed_Date': target_date,\n        'time': target_time,\n        'Max_Pain_Strike': max_pain_strike['strike']\n    })\nresults_df = pd.DataFrame(results)\nresults_df"

In [74]:
'''expanded_data=pd.DataFrame(df)
unique_combinations = expanded_data[['Preprocessed_Date', 'time']].drop_duplicates()
results = []

# Iterate over each unique combination
for _, row in unique_combinations.iterrows():
    target_date = row['Preprocessed_Date']
    target_time = row['time']

    # Filter the dataset for the current combination
    filtered_df = expanded_data[(expanded_data['Preprocessed_Date'] == target_date) & (expanded_data['time'] == target_time)]
    oi_sum = filtered_df.groupby('strike')['oi'].sum().reset_index()
    max_pain_strike = oi_sum.loc[oi_sum['oi'].idxmax()]
    results.append({
        'Preprocessed_Date': target_date,
        'time': target_time,
        'Max_Pain_Strike': max_pain_strike['strike']
    })
results_df = pd.DataFrame(results)

# Merge the results with expanded_data on Preprocessed_Date and time
expanded_data = pd.merge(expanded_data, results_df, on=['Preprocessed_Date', 'time'], how='left')
expanded_data.rename(columns={'Max_Pain_Strike': 'max_pain_strike', 'Total_OI': 'max_pain_oi'}, inplace=True)
expanded_data'''

"expanded_data=pd.DataFrame(df)\nunique_combinations = expanded_data[['Preprocessed_Date', 'time']].drop_duplicates()\nresults = []\n\n# Iterate over each unique combination\nfor _, row in unique_combinations.iterrows():\n    target_date = row['Preprocessed_Date']\n    target_time = row['time']\n\n    # Filter the dataset for the current combination\n    filtered_df = expanded_data[(expanded_data['Preprocessed_Date'] == target_date) & (expanded_data['time'] == target_time)]\n    oi_sum = filtered_df.groupby('strike')['oi'].sum().reset_index()\n    max_pain_strike = oi_sum.loc[oi_sum['oi'].idxmax()]\n    results.append({\n        'Preprocessed_Date': target_date,\n        'time': target_time,\n        'Max_Pain_Strike': max_pain_strike['strike']\n    })\nresults_df = pd.DataFrame(results)\n\n# Merge the results with expanded_data on Preprocessed_Date and time\nexpanded_data = pd.merge(expanded_data, results_df, on=['Preprocessed_Date', 'time'], how='left')\nexpanded_data.rename(columns={'Max_Pain_Strike': 'max_pain_strike', 'Total_OI': 'max_pain_oi'}, inplace=True)\nexpanded_data"

In [75]:
import pandas as pd

# Assuming expanded_data is a DataFrame that has been defined previously
# If not, you can define it like this:
# expanded_data = pd.DataFrame(df)

# Find unique combinations of 'Preprocessed_Date' and 'time'
unique_combinations = expanded_data[['Preprocessed_Date', 'time']].drop_duplicates()
results = []

# Iterate over each unique combination
for _, row in unique_combinations.iterrows():
    target_date = row['Preprocessed_Date']
    target_time = row['time']

    # Filter the dataset for the current combination
    filtered_df = expanded_data[(expanded_data['Preprocessed_Date'] == target_date) & (expanded_data['time'] == target_time)]
    oi_sum = filtered_df.groupby('strike')['oi'].sum().reset_index()

    # Identify the strike price with the highest total OI
    max_pain_strike = oi_sum.loc[oi_sum['oi'].idxmax()]
    results.append({
        'Preprocessed_Date': target_date,
        'time': target_time,
        'Max_Pain_Strike': max_pain_strike['strike']
    })

# Convert results to a DataFrame
results_df = pd.DataFrame(results)

# Merge the results with expanded_data on Preprocessed_Date and time
expanded_data = pd.merge(expanded_data, results_df, on=['Preprocessed_Date', 'time'], how='left')
expanded_data.rename(columns={'Max_Pain_Strike': 'max_pain_strike'}, inplace=True)

expanded_data

,time,strike,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type,atm,max_pain_strike
0,13:30:00,23200,2333.00,2333.0,2333.00,2333.00,40.00,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0
1,13:35:00,23200,2333.00,2336.0,2333.00,2336.00,40.00,100800.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0
2,13:40:00,23200,2333.20,2336.0,2333.00,2333.13,40.00,100797.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0
3,13:45:00,23200,2333.40,2336.0,2333.00,2330.26,40.00,100794.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0
4,13:50:00,23200,2333.60,2336.0,2333.00,2327.39,40.00,100792.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333010,15:05:00,29000,1493.61,1500.3,1488.60,1522.94,62.86,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0
333011,15:10:00,29000,1491.94,1500.3,1488.60,1531.53,68.57,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0
333012,15:15:00,29000,1490.27,1500.3,1488.60,1540.11,74.29,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0
333013,15:20:00,29000,1488.60,1548.7,1488.60,1548.70,80.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,28000.0
333014,15:25:00,29000,1548.70,1548.7,1539.75,1539.75,40.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,28000.0

**MOST ACTIVE STRIKES**

In [76]:
'''expanded_df = pd.DataFrame(expanded_data)

# Ensure 'Preprocessed_Date' and 'time' are strings
expanded_df['Preprocessed_Date'] = expanded_df['Preprocessed_Date'].astype(str)
expanded_df['time'] = expanded_df['time'].astype(str)

# Combine 'Preprocessed_Date' and 'time' into a single 'datetime' column with explicit format
expanded_df['datetime'] = pd.to_datetime(expanded_df['Preprocessed_Date'] + ' ' + expanded_df['time'], format='%d-%m-%Y %H:%M:%S')

# Group by both 'datetime' and 'strike', then aggregate 'oi'
grouped_df = expanded_df.groupby(['datetime', 'strike']).agg({'oi': 'sum'}).reset_index()

# Get the top 6 most active strikes for each 5-minute interval
top_strikes = grouped_df.groupby('datetime').apply(lambda x: x.nlargest(6, 'oi')).reset_index(drop=True)

# Combine the top strikes into a single string for each datetime
result_df = top_strikes.groupby('datetime')['strike'].apply(lambda x: ', '.join(x.astype(str))).reset_index()

print(result_df)'''

                datetime                                    strike
0    2018-01-01 09:15:00  26000, 25000, 25500, 24500, 25800, 26500
1    2018-01-01 09:20:00  26000, 25000, 25500, 24500, 26500, 25800
2    2018-01-01 09:25:00  26000, 25500, 25000, 24500, 26500, 25800
3    2018-01-01 09:30:00  26000, 25000, 25500, 24500, 26500, 25800
4    2018-01-01 09:35:00  26000, 25500, 25000, 24500, 26500, 25900
...                  ...                                       ...
4554 2018-03-28 15:10:00  24500, 24000, 24200, 24300, 24400, 24100
4555 2018-03-28 15:15:00  24500, 24200, 24000, 24300, 24400, 24100
4556 2018-03-28 15:20:00  24500, 24000, 24200, 24300, 24400, 24600
4557 2018-03-28 15:25:00  24500, 24000, 24200, 24300, 24400, 24100
4558 2018-03-28 15:30:00  24000, 25000, 23000, 25500, 26000, 24800

[4559 rows x 2 columns]

TRY MOST ACTIVE STRIKE PRICE FOR EACH 5MIN
take a date and all the time that are same then calculate the 6 most active strikes for that time like 9:20 like this for all the times

In [77]:
import pandas as pd

# Assuming expanded_data is your initial dataset
expanded_df = pd.DataFrame(expanded_data)

# Ensure 'Preprocessed_Date' and 'time' are strings
expanded_df['Preprocessed_Date'] = expanded_df['Preprocessed_Date'].astype(str)
expanded_df['time'] = expanded_df['time'].astype(str)

# Combine 'Preprocessed_Date' and 'time' into a single 'datetime' column with explicit format
expanded_df['datetime'] = pd.to_datetime(expanded_df['Preprocessed_Date'] + ' ' + expanded_df['time'], format='%d-%m-%Y %H:%M:%S')

# Group by both 'datetime' and 'strike', then aggregate 'oi'
grouped_df = expanded_df.groupby(['datetime', 'strike']).agg({'oi': 'sum'}).reset_index()

# Get the top 6 most active strikes for each 5-minute interval
top_strikes = grouped_df.groupby('datetime').apply(lambda x: x.nlargest(6, 'oi')).reset_index(drop=True)

# Combine the top strikes into a single string for each datetime
result_df = top_strikes.groupby('datetime')['strike'].apply(lambda x: ', '.join(x.astype(str))).reset_index()

# Merge the result back into the expanded_df
merged_df = pd.merge(expanded_df, result_df, on='datetime', how='left')

# Rename the column to 'most_active_strikes'
merged_df.rename(columns={'strike_y': 'most_active_strikes'}, inplace=True)

# Optionally, drop the redundant columns if they exist
if 'strike_x' in merged_df.columns:
    merged_df.drop(columns=['strike_x'], inplace=True)

merged_df

,time,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type,atm,max_pain_strike,datetime,most_active_strikes
0,13:30:00,2333.00,2333.0,2333.00,2333.00,40.00,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:30:00,"26000, 25500, 25000, 25800, 25600, 24500"
1,13:35:00,2333.00,2336.0,2333.00,2336.00,40.00,100800.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:35:00,"26000, 25500, 25000, 24500, 25400, 25600"
2,13:40:00,2333.20,2336.0,2333.00,2333.13,40.00,100797.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:40:00,"26000, 25500, 25000, 25800, 25600, 24500"
3,13:45:00,2333.40,2336.0,2333.00,2330.26,40.00,100794.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:45:00,"26000, 25000, 25500, 25600, 25800, 24500"
4,13:50:00,2333.60,2336.0,2333.00,2327.39,40.00,100792.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:50:00,"26000, 25000, 25500, 25600, 25800, 24500"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333010,15:05:00,1493.61,1500.3,1488.60,1522.94,62.86,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:05:00,"26000, 28000, 26500, 27000, 25500, 25000"
333011,15:10:00,1491.94,1500.3,1488.60,1531.53,68.57,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:10:00,"26000, 28000, 26500, 27000, 27500, 25000"
333012,15:15:00,1490.27,1500.3,1488.60,1540.11,74.29,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:15:00,"26000, 28000, 27000, 26500, 27500, 25000"
333013,15:20:00,1488.60,1548.7,1488.60,1548.70,80.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,28000.0,2018-01-31 15:20:00,"28000, 27000, 25500, 26000, 25000, 26800"
333014,15:25:00,1548.70,1548.7,1539.75,1539.75,40.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,28000.0,2018-01-31 15:25:00,"28000, 26500, 25500, 27500, 26000, 27000"

In [78]:
'''df.to_csv('12-2018_max-pain_pcr.csv', index=False)'''

"df.to_csv('12-2018_max-pain_pcr.csv', index=False)"

In [79]:
'''import pandas as pd
import os

# Assuming 'merged_df' is the DataFrame you want to save
#merged_df.to_csv('2018_max-pain_pcr.csv', index=False)

# Get the size of the CSV file
file_size = os.path.getsize('12-2018_max-pain_pcr.csv')

# Convert the size to a more readable format, e.g., KB or MB
file_size_kb = file_size / 1024  # size in KB
file_size_mb = file_size_kb / 1024  # size in MB

print(f"File size: {file_size} bytes")
print(f"File size: {file_size_kb:.2f} KB")
print(f"File size: {file_size_mb:.2f} MB")
'''

'import pandas as pd\nimport os\n\n# Assuming \'merged_df\' is the DataFrame you want to save\n#merged_df.to_csv(\'2018_max-pain_pcr.csv\', index=False)\n\n# Get the size of the CSV file\nfile_size = os.path.getsize(\'12-2018_max-pain_pcr.csv\')\n\n# Convert the size to a more readable format, e.g., KB or MB\nfile_size_kb = file_size / 1024  # size in KB\nfile_size_mb = file_size_kb / 1024  # size in MB\n\nprint(f"File size: {file_size} bytes")\nprint(f"File size: {file_size_kb:.2f} KB")\nprint(f"File size: {file_size_mb:.2f} MB")\n'

c i want intraday pcr to be calculated like this :
first take the atm of that day and then take all the 10 strikes up and down and selecting all these ,then take volume of those strikes at each interval and then add so like this ull get different pcr at different time intervals.

In [80]:
'''import pandas as pd

def calculate_intraday_pcr(df):
    # Combine 'Preprocessed_Date' and 'time' to ensure 'time' is in datetime format
    df['datetime'] = pd.to_datetime(df['Preprocessed_Date'] + ' ' + df['time'], format='%d-%m-%Y %H:%M:%S')

    # Initialize an empty list to store PCR values along with their respective timestamps
    pcr_values = []

    # Get the unique 5-minute intervals in the data
    time_intervals = df['datetime'].dt.floor('5T').unique()

    for time in time_intervals:
        # Filter data for the current 5-minute interval
        interval_df = df[df['datetime'].dt.floor('5T') == time]

        atm_strike = interval_df['atm'].iloc[0] if not interval_df['atm'].empty else None

        if atm_strike is not None:
            lower_bound = atm_strike - 1000
            upper_bound = atm_strike + 1000
            selected_strikes = interval_df[(interval_df['strike'] >= lower_bound) & (interval_df['strike'] <= upper_bound)]

            total_put_volume = selected_strikes[selected_strikes['instrument_type'] == 'PE']['volume'].sum()
            total_call_volume = selected_strikes[selected_strikes['instrument_type'] == 'CE']['volume'].sum()

            pcr = total_put_volume / total_call_volume if total_call_volume != 0 else None

            # Update the 'Intraday_pcr' for the filtered interval data
            df.loc[df['datetime'].dt.floor('5T') == time, 'intraday_pcr'] = pcr

    return df

# Assuming merged_df is your DataFrame after merging the most active strikes
merged_df = pd.DataFrame(expanded_data)

# Calculate intraday PCR and update the DataFrame
merged_df = calculate_intraday_pcr(merged_df)

merged_df
'''

"import pandas as pd\n\ndef calculate_intraday_pcr(df):\n    # Combine 'Preprocessed_Date' and 'time' to ensure 'time' is in datetime format\n    df['datetime'] = pd.to_datetime(df['Preprocessed_Date'] + ' ' + df['time'], format='%d-%m-%Y %H:%M:%S')\n\n    # Initialize an empty list to store PCR values along with their respective timestamps\n    pcr_values = []\n\n    # Get the unique 5-minute intervals in the data\n    time_intervals = df['datetime'].dt.floor('5T').unique()\n\n    for time in time_intervals:\n        # Filter data for the current 5-minute interval\n        interval_df = df[df['datetime'].dt.floor('5T') == time]\n\n        atm_strike = interval_df['atm'].iloc[0] if not interval_df['atm'].empty else None\n\n        if atm_strike is not None:\n            lower_bound = atm_strike - 1000\n            upper_bound = atm_strike + 1000\n            selected_strikes = interval_df[(interval_df['strike'] >= lower_bound) & (interval_df['strike'] <= upper_bound)]\n\n            total_put_volume = selected_strikes[selected_strikes['instrument_type'] == 'PE']['volume'].sum()\n            total_call_volume = selected_strikes[selected_strikes['instrument_type'] == 'CE']['volume'].sum()\n\n            pcr = total_put_volume / total_call_volume if total_call_volume != 0 else None\n\n            # Update the 'Intraday_pcr' for the filtered interval data\n            df.loc[df['datetime'].dt.floor('5T') == time, 'intraday_pcr'] = pcr\n\n    return df\n\n# Assuming merged_df is your DataFrame after merging the most active strikes\nmerged_df = pd.DataFrame(expanded_data)\n\n# Calculate intraday PCR and update the DataFrame\nmerged_df = calculate_intraday_pcr(merged_df)\n\nmerged_df\n"

In [81]:
import pandas as pd

def calculate_intraday_pcr(df):
    # Ensure 'Preprocessed_Date' and 'time' are strings
    df['Preprocessed_Date'] = df['Preprocessed_Date'].astype(str)
    df['time'] = df['time'].astype(str)

    # Combine 'Preprocessed_Date' and 'time' to ensure 'datetime' is in datetime format
    df['datetime'] = pd.to_datetime(df['Preprocessed_Date'] + ' ' + df['time'], format='%d-%m-%Y %H:%M:%S')

    # Get the unique 5-minute intervals in the data
    time_intervals = df['datetime'].dt.floor('5T').unique()

    for time in time_intervals:
        # Filter data for the current 5-minute interval
        interval_df = df[df['datetime'].dt.floor('5T') == time]

        atm_strike = interval_df['atm'].iloc[0] if not interval_df['atm'].empty else None

        if atm_strike is not None:
            lower_bound = atm_strike - 1000
            upper_bound = atm_strike + 1000
            selected_strikes = interval_df[(interval_df['strike'] >= lower_bound) & (interval_df['strike'] <= upper_bound)]

            total_put_volume = selected_strikes[selected_strikes['instrument_type'] == 'PE']['volume'].sum()
            total_call_volume = selected_strikes[selected_strikes['instrument_type'] == 'CE']['volume'].sum()

            pcr = total_put_volume / total_call_volume if total_call_volume != 0 else None

            # Update the 'intraday_pcr' for the filtered interval data
            df.loc[df['datetime'].dt.floor('5T') == time, 'intraday_pcr'] = pcr

    return df

# Assuming expanded_data is your initial dataset
merged_df = pd.DataFrame(expanded_data)

# Calculate intraday PCR and update the DataFrame
merged_df = calculate_intraday_pcr(expanded_df)

merged_df

,time,strike,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type,atm,max_pain_strike,datetime,intraday_pcr
0,13:30:00,23200,2333.00,2333.0,2333.00,2333.00,40.00,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:30:00,0.915605
1,13:35:00,23200,2333.00,2336.0,2333.00,2336.00,40.00,100800.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:35:00,0.681886
2,13:40:00,23200,2333.20,2336.0,2333.00,2333.13,40.00,100797.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:40:00,0.983321
3,13:45:00,23200,2333.40,2336.0,2333.00,2330.26,40.00,100794.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:45:00,0.799850
4,13:50:00,23200,2333.60,2336.0,2333.00,2327.39,40.00,100792.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:50:00,0.717496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333010,15:05:00,29000,1493.61,1500.3,1488.60,1522.94,62.86,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:05:00,0.800957
333011,15:10:00,29000,1491.94,1500.3,1488.60,1531.53,68.57,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:10:00,0.950112
333012,15:15:00,29000,1490.27,1500.3,1488.60,1540.11,74.29,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:15:00,0.852165
333013,15:20:00,29000,1488.60,1548.7,1488.60,1548.70,80.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,28000.0,2018-01-31 15:20:00,1.177977
333014,15:25:00,29000,1548.70,1548.7,1539.75,1539.75,40.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,28000.0,2018-01-31 15:25:00,0.984860

In [82]:
import pandas as pd

def calculate_cumulative_pcr(df):
    # Combine 'Preprocessed_Date' and 'time' to ensure 'time' is in datetime format
    df['datetime'] = pd.to_datetime(df['Preprocessed_Date'] + ' ' + df['time'], format='%d-%m-%Y %H:%M:%S')

    # Initialize cumulative put and call volumes
    cumulative_put_volume = 0
    cumulative_call_volume = 0

    # Get the unique 5-minute intervals in the data
    time_intervals = df['datetime'].dt.floor('5T').unique()

    for time in time_intervals:
        # Filter data for the current 5-minute interval
        interval_df = df[df['datetime'].dt.floor('5T') == time]

        atm_strike = interval_df['atm'].iloc[0] if not interval_df['atm'].empty else None

        if atm_strike is not None:
            lower_bound = atm_strike - 1000
            upper_bound = atm_strike + 1000
            selected_strikes = interval_df[(interval_df['strike'] >= lower_bound) & (interval_df['strike'] <= upper_bound)]

            interval_put_volume = selected_strikes[selected_strikes['instrument_type'] == 'PE']['volume'].sum()
            interval_call_volume = selected_strikes[selected_strikes['instrument_type'] == 'CE']['volume'].sum()

            # Update cumulative volumes
            cumulative_put_volume += interval_put_volume
            cumulative_call_volume += interval_call_volume

            # Calculate cumulative PCR
            cumulative_pcr = cumulative_put_volume / cumulative_call_volume if cumulative_call_volume != 0 else None

            # Update the 'Cumulative_pcr' for the filtered interval data
            df.loc[df['datetime'].dt.floor('5T') == time, 'cumulative_pcr'] = cumulative_pcr

    return df

# Assuming merged_df is your DataFrame after merging the most active strikes
final_merged_df = pd.DataFrame(merged_df)

# Calculate cumulative PCR and update the DataFrame
final_merged_df = calculate_cumulative_pcr(final_merged_df)
final_merged_df

,time,strike,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type,atm,max_pain_strike,datetime,intraday_pcr,cumulative_pcr
0,13:30:00,23200,2333.00,2333.0,2333.00,2333.00,40.00,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:30:00,0.915605,0.915605
1,13:35:00,23200,2333.00,2336.0,2333.00,2336.00,40.00,100800.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:35:00,0.681886,0.800230
2,13:40:00,23200,2333.20,2336.0,2333.00,2333.13,40.00,100797.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:40:00,0.983321,0.842186
3,13:45:00,23200,2333.40,2336.0,2333.00,2330.26,40.00,100794.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:45:00,0.799850,0.832477
4,13:50:00,23200,2333.60,2336.0,2333.00,2327.39,40.00,100792.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:50:00,0.717496,0.815574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333010,15:05:00,29000,1493.61,1500.3,1488.60,1522.94,62.86,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:05:00,0.800957,0.806788
333011,15:10:00,29000,1491.94,1500.3,1488.60,1531.53,68.57,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:10:00,0.950112,0.806804
333012,15:15:00,29000,1490.27,1500.3,1488.60,1540.11,74.29,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:15:00,0.852165,0.806811
333013,15:20:00,29000,1488.60,1548.7,1488.60,1548.70,80.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,28000.0,2018-01-31 15:20:00,1.177977,0.806854
333014,15:25:00,29000,1548.70,1548.7,1539.75,1539.75,40.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,28000.0,2018-01-31 15:25:00,0.984860,0.806880

In [83]:
import pandas as pd

# Assuming expanded_data is your initial dataset
last_final_merged_df = pd.DataFrame(final_merged_df)
'''
# Ensure 'Preprocessed_Date' and 'time' are strings
expanded_df['Preprocessed_Date'] = expanded_df['Preprocessed_Date'].astype(str)
expanded_df['time'] = expanded_df['time'].astype(str)

# Combine 'Preprocessed_Date' and 'time' into a single 'datetime' column with explicit format
expanded_df['datetime'] = pd.to_datetime(expanded_df['Preprocessed_Date'] + ' ' + expanded_df['time'], format='%d-%m-%Y %H:%M:%S')'''

# Group by both 'datetime' and 'strike', then aggregate 'oi'
grouped_df = last_final_merged_df.groupby(['datetime', 'strike']).agg({'oi': 'sum'}).reset_index()

# Get the top 6 most active strikes for each 5-minute interval
top_strikes = last_final_merged_df.groupby('datetime').apply(lambda x: x.nlargest(6, 'oi')).reset_index(drop=True)

# Combine the top strikes into a single string for each datetime
result_df = top_strikes.groupby('datetime')['strike'].apply(lambda x: ', '.join(x.astype(str))).reset_index()

# Merge the result back into the expanded_df
end_df = pd.merge(last_final_merged_df, result_df, on='datetime', how='left')

# Rename the column to 'most_active_strikes'
end_df.rename(columns={'strike_y': 'most_active_strikes'}, inplace=True)

# Optionally, drop the redundant columns if they exist
if 'strike_x' in end_df.columns:
    end_df.drop(columns=['strike_x'], inplace=True)

end_df

,time,open,high,low,close,volume,oi,symbol,expiry,Preprocessed_Date,instrument_type,atm,max_pain_strike,datetime,intraday_pcr,cumulative_pcr,most_active_strikes
0,13:30:00,2333.00,2333.0,2333.00,2333.00,40.00,100760.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:30:00,0.915605,0.915605,"26000, 26000, 25800, 25500, 25000, 25900"
1,13:35:00,2333.00,2336.0,2333.00,2336.00,40.00,100800.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:35:00,0.681886,0.800230,"26000, 26000, 25500, 25000, 25600, 25900"
2,13:40:00,2333.20,2336.0,2333.00,2333.13,40.00,100797.33,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:40:00,0.983321,0.842186,"26000, 25000, 26000, 25800, 25500, 25900"
3,13:45:00,2333.40,2336.0,2333.00,2330.26,40.00,100794.67,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:45:00,0.799850,0.832477,"26000, 25000, 26000, 25800, 25500, 25600"
4,13:50:00,2333.60,2336.0,2333.00,2327.39,40.00,100792.00,BANKNIFTY25JAN1823200CE,25-01-2018,01-01-2018,CE,25570.0,26000.0,2018-01-01 13:50:00,0.717496,0.815574,"26000, 25000, 26000, 25800, 25500, 25600"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333010,15:05:00,1493.61,1500.3,1488.60,1522.94,62.86,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:05:00,0.800957,0.806788,"26500, 26000, 28000, 27000, 28200, 25000"
333011,15:10:00,1491.94,1500.3,1488.60,1531.53,68.57,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:10:00,0.950112,0.806804,"26500, 26000, 28000, 27000, 26000, 28000"
333012,15:15:00,1490.27,1500.3,1488.60,1540.11,74.29,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,26000.0,2018-01-31 15:15:00,0.852165,0.806811,"26500, 26000, 28000, 27000, 26000, 28000"
333013,15:20:00,1488.60,1548.7,1488.60,1548.70,80.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,28000.0,2018-01-31 15:20:00,1.177977,0.806854,"28000, 27000, 26000, 25500, 28000, 27000"
333014,15:25:00,1548.70,1548.7,1539.75,1539.75,40.00,6160.00,BANKNIFTY01FEB1823300PE,01-02-2018,31-01-2018,PE,27222.0,28000.0,2018-01-31 15:25:00,0.984860,0.806880,"26500, 28000, 26000, 25500, 28000, 27000"

In [84]:
columns_to_drop = ['time', 'symbol', 'Preprocessed_Date']
end_df = end_df.drop(columns=columns_to_drop)
end_df

,open,high,low,close,volume,oi,expiry,instrument_type,atm,max_pain_strike,datetime,intraday_pcr,cumulative_pcr,most_active_strikes
0,2333.00,2333.0,2333.00,2333.00,40.00,100760.00,25-01-2018,CE,25570.0,26000.0,2018-01-01 13:30:00,0.915605,0.915605,"26000, 26000, 25800, 25500, 25000, 25900"
1,2333.00,2336.0,2333.00,2336.00,40.00,100800.00,25-01-2018,CE,25570.0,26000.0,2018-01-01 13:35:00,0.681886,0.800230,"26000, 26000, 25500, 25000, 25600, 25900"
2,2333.20,2336.0,2333.00,2333.13,40.00,100797.33,25-01-2018,CE,25570.0,26000.0,2018-01-01 13:40:00,0.983321,0.842186,"26000, 25000, 26000, 25800, 25500, 25900"
3,2333.40,2336.0,2333.00,2330.26,40.00,100794.67,25-01-2018,CE,25570.0,26000.0,2018-01-01 13:45:00,0.799850,0.832477,"26000, 25000, 26000, 25800, 25500, 25600"
4,2333.60,2336.0,2333.00,2327.39,40.00,100792.00,25-01-2018,CE,25570.0,26000.0,2018-01-01 13:50:00,0.717496,0.815574,"26000, 25000, 26000, 25800, 25500, 25600"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333010,1493.61,1500.3,1488.60,1522.94,62.86,6160.00,01-02-2018,PE,27222.0,26000.0,2018-01-31 15:05:00,0.800957,0.806788,"26500, 26000, 28000, 27000, 28200, 25000"
333011,1491.94,1500.3,1488.60,1531.53,68.57,6160.00,01-02-2018,PE,27222.0,26000.0,2018-01-31 15:10:00,0.950112,0.806804,"26500, 26000, 28000, 27000, 26000, 28000"
333012,1490.27,1500.3,1488.60,1540.11,74.29,6160.00,01-02-2018,PE,27222.0,26000.0,2018-01-31 15:15:00,0.852165,0.806811,"26500, 26000, 28000, 27000, 26000, 28000"
333013,1488.60,1548.7,1488.60,1548.70,80.00,6160.00,01-02-2018,PE,27222.0,28000.0,2018-01-31 15:20:00,1.177977,0.806854,"28000, 27000, 26000, 25500, 28000, 27000"
333014,1548.70,1548.7,1539.75,1539.75,40.00,6160.00,01-02-2018,PE,27222.0,28000.0,2018-01-31 15:25:00,0.984860,0.806880,"26500, 28000, 26000, 25500, 28000, 27000"

In [85]:
#end_df.to_csv('2018_max-pain_pcr.csv', index=False)

In [86]:
'''import pandas as pd
import os

# Assuming 'merged_df' is the DataFrame you want to save
#merged_df.to_csv('2018_max-pain_pcr.csv', index=False)

# Get the size of the CSV file
file_size = os.path.getsize('2018_max-pain_pcr.csv')

# Convert the size to a more readable format, e.g., KB or MB
file_size_kb = file_size / 1024  # size in KB
file_size_mb = file_size_kb / 1024  # size in MB

print(f"File size: {file_size} bytes")
print(f"File size: {file_size_kb:.2f} KB")
print(f"File size: {file_size_mb:.2f} MB")'''

'import pandas as pd\nimport os\n\n# Assuming \'merged_df\' is the DataFrame you want to save\n#merged_df.to_csv(\'2018_max-pain_pcr.csv\', index=False)\n\n# Get the size of the CSV file\nfile_size = os.path.getsize(\'2018_max-pain_pcr.csv\')\n\n# Convert the size to a more readable format, e.g., KB or MB\nfile_size_kb = file_size / 1024  # size in KB\nfile_size_mb = file_size_kb / 1024  # size in MB\n\nprint(f"File size: {file_size} bytes")\nprint(f"File size: {file_size_kb:.2f} KB")\nprint(f"File size: {file_size_mb:.2f} MB")'